@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Ubuntu:wght@500&display=swap');

:root{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #222;
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    display: grid;
    grid-template-rows: 80px 0.5fr 2fr 4fr;
    align-items: center;
    justify-items: start;
    margin: 0 auto;
    margin-top: 96px;
    padding: 0 30px;
}

table{
    align-self: start;
}

th, td{
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    padding: 12px 15px 12px;
}

th:first-child{
    width: 50%;
}


th:nth-child(3), th:nth-child(4){
    width: 90px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    align-items: center;
    justify-items: start;
    gap: 0px 20px;
}

label {
    justify-self: start;
    margin-right: 10px;
}

.addBtn {
    background-image: linear-gradient(to bottom right, #93c5fd 0%, #3b82f6 51%, #1d4ed8 100%);
    /* border: 1px solid #3b82f6; */
    border: none;
    color: white;
    border-radius: 14px;
    justify-self: start;
    grid-row: 3 / 4;
    grid-column:1 / 2;
    padding: 10px 18px;
    margin: 10px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.addBtn:hover{
    background-image: linear-gradient(to bottom, #93c5fd 0%, #3b82f6 51%, #1d4ed8 100%);
}

#title, #author, #read {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    grid-row: 2 / 3;
}

#title, #author {
    border-radius: 5px;
    border: 1px solid #94a3b8;
}

.readBtn, .removeBtn {
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 8px;
    padding: 2px 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 14px;
    align-self: center;
}

.removeBtn{
    background-color: #f87171;
    border: 1px solid #f87171;
    color: white;
    padding: 2px 6px;
}

.readBtn:hover, .removeBtn:hover {
    background-color: #f6f6f6;
}

.removeBtn:hover {
    background-color: #e06565;
    border: 1px solid #e06565;
}